.row.visible-sm-block.visible-xs-block
  .col-md-12.text-center
    = paginate events, :theme => 'twitter-bootstrap-3'
.row
  - events.each do |event|
    - highlight_event = params[:show_event_id] && event.id == params[:show_event_id].to_i
    .col-md-4.col-sm-6.camera-event{class: highlight_event ? "highlighted" : ""}
      .pull-right.text-right.keep-link-wrapper{data: {kept: event.kept?.to_s, keep_path: keep_camera_event_path(event), unkeep_path: unkeep_camera_event_path(event)} }
        - if event.kept?
          %i.fa.fa-times
          = link_to "Unkeep", unkeep_camera_event_path(event), class: "unkeep", method: :post, remote: true
        - else
          %i.fa.fa-floppy-o
          = link_to "Keep", keep_camera_event_path(event), class: "keep", method: :post, remote: true
      .text-left
        = link_to event.event_timestamp.strftime("%b %-d, %Y %-l:%M:%S%P"), camera_events_path(show_event_id: event.id)
      - video = event.camera_event_assets.videos.first
      .thumbnail{data: {video_url: (video.asset_url(expires: 1.week.from_now) rescue nil)}}
        - cache ["event_asset", event.camera_event_assets.thumbnails.first], expires_in: 3.days do 
          = image_tag(event.camera_event_assets.thumbnails.first.asset_url(expires: 1.week.from_now), width: "100%") rescue nil
     
.row
  .col-md-12.text-center
    = paginate events, :theme => 'twitter-bootstrap-3'
  
:coffeescript
  $(".thumbnail img").click (e)->
    video_url = $(this).parent(".thumbnail").data('video-url')
    $(this).parent(".thumbnail").html(
      "<video src='\#{video_url}' width='100%' controls='true' autoplay='autoplay' />"
    )
    
  $(".keep-link-wrapper a").on "ajax:success", (e, data, status, xhr) ->
    kept = $(this).parents('.keep-link-wrapper').data('kept')
    console.log "current kept status: \#{kept}"
    console.log $(this)
    console.log typeof(kept)
    console.log kept == "true"
    
    if kept
      # We just marked it unkeep
      console.log "changing to keep"
      $(this).html("Keep").attr("href", $(this).parents(".keep-link-wrapper").data("keep-path"))
      $(this).parents('.keep-link-wrapper').find("i.fa").removeClass("fa-times").addClass("fa-floppy-o")
      $(this).removeClass("unkeep").addClass("keep")
      $(this).parents('.keep-link-wrapper').data('kept', false)
    else
      console.log "changing to unkeep"
      $(this).html("Unkeep").attr("href", $(this).parents(".keep-link-wrapper").data("unkeep-path"))
      $(this).parents('.keep-link-wrapper').find("i.fa").removeClass("fa-floppy-o").addClass("fa-times")
      $(this).removeClass("keep").addClass("unkeep")
      $(this).parents('.keep-link-wrapper').data('kept', true)