.row
  .col-md-6
    %h1 Cameras
  .col-md-6
    = link_to "+ Add Camera", new_admin_camera_path, class: 'btn btn-primary pull-right'
.row
  .col-md-12
    %table.table.table-striped
      %tr
        %th Sort
        %th Name
        %th Make
        %th Model
        %th Active
        %th

      - @cameras.each do |camera|
        %tr
          %td
            - unless camera.first?
              = link_to move_higher_admin_camera_path(camera), method: :post do
                %i.fa.fa-caret-up
              %br/
            - unless camera.last?
              = link_to move_lower_admin_camera_path(camera), method: :post do
                %i.fa.fa-caret-down

          %td= camera.name
          %td= camera.make
          %td= camera.model
          %td
            - if camera.active?
              %i.fa.fa-check
          %td= link_to "Edit", edit_admin_camera_path(camera)
