- content_for(:body_class){"bg-black live"} if params[:kiosk]
.row{style: "margin-bottom: 2em"}
  - column_width = [(12 / SystemSetting.columns_in_live_view), 1].max
  - @cameras.each_slice(SystemSetting.columns_in_live_view) do |cameras|
    .row
      - cameras.each do |camera|
        %div{class: "col-md-#{column_width}"}
          = image_tag(preview_url(camera: camera), width: "auto", data: {camera_preview_url: preview_url(camera: camera), camera_preview_needs_refreshing: camera.preview_needs_refreshing?}, class: "center-block camera-image img-responsive") rescue nil

:coffeescript
  refreshImages = ->
    $("img[data-camera-preview-needs-refreshing='true']").each ->
      $(this).load ->
        refreshImage(this)
      .error ->
        setTimeout =>
          refreshImage(this)
        , 5000

      refreshImage(this)

  refreshImage = (img)->
    setTimeout ->
      console.log "Refreshing image"
      date = new Date()
      url = $(img).data('camera-preview-url')
      unless /\?/.test(url)
        url = url + "?a=b"
      $(img).attr('src',  "\#{url}&t=\#{date.getTime()}")
    , 3000

  scaleImages = ->
    setTimeout ->
      $("img").height($(window).height() / #{SystemSetting.columns_in_live_view})
    , 5000

  $(window).resize(scaleImages)

  refreshImages()
  scaleImages()
